
body{
    background-color: rgb(94, 159, 243);
}

.cards{
    margin-top: 200px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    height: 520px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mobile,.desktop,.tv{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 410px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(138, 138, 138);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    letter-spacing: .4rem;
    color: rgb(82, 63, 253);
}

.price{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(82, 63, 253);
}

.currency{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgb(82, 63, 253);
    vertical-align:top;
}

.time{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(82, 63, 253); 
}