
body{
    background-color: rgb(94, 159, 243);
}


.page{
    display: flex;
    justify-content: center;
    flex direction: row;

}

.cards{
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;
    height: 500px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;



}

.mobile,.desktop,.tv{
    background-color: rgb(240, 232, 232);
    border-radius: 10px;
    cursor: pointer;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(138, 138, 138);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    letter-spacing: .4rem;
    color: rgb(94, 159, 243);
}
