
body{
    background-color: rgb(94, 121, 243);
}

.cards{
    background-color: rgb(255, 255, 255);
    border-radius: 10px ;

}

.mobile,.desktop, .tv {
    background-color: rgb(240, 232, 232);
    border-radius: 10px;
    cursor: pointer;
}

.mobile,.desktop,.tv  a:hover{
    color: #666666;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: rgb(138, 138, 138);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    letter-spacing: .4rem;
    color: rgb(94, 121, 243);
}