html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(18, 160, 117);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #333;
    min-height: 100%;
}

.wrap {
    width: 450px;
    margin: 100px auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.card__top {
    display: flex;
    justify-content: space-around;
}

.card__text{
    font-size: 16px;
    font-weight: 500;
}

.card__dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-style: solid;
    border-width:1px;  
    border-color: #cecaca;
    background: #ffffff;    
}

.card__icon {
    height: 18px
}

.image__bike {
    width: 450px;
    overflow: hidden;
 }
